.forBlobs {
	@include colorsModule($bg-colorHead-Blobs, $bg-colorTile-Blobs);

	.wrapRightBlock .headBlock .fa {
		padding-left: 9px;
	}

	.bodyLeftBlock {
		padding: 8px 8px 10px 9px;
	}

	.bodyRightBlock {
		display:flex; 
		flex-direction: column; 
		padding-bottom: 56px;
	}
}

.popup img {
	width: 600px;
}

.popup-blobImage.popup, .popup-blobText.popup {
	left: calc(50% - 315px);
	top: calc(50% - 215px);
}


	





