@mixin colorsModule ($colorHead, $colorTile) {
	
	.navbar-default {
		background-color: $colorHead;
		border-color: $colorHead;
		.navbar-brand:hover {
			color: hsl(hue($colorTile), 100%, 92%); 
		}
	}
	
	.tileFunction {
		background-color: $colorTile;
		&:hover {
			background-color: lighten($colorTile, 10%);
		}
	}
	
	.popup {
		border-color: $colorHead;
		.panel-heading {
			background-color: $colorHead;
			border-color: $colorHead;
		}
		.btn-default {
			background-color: hsl(hue($colorTile), 40%, 97%);
			&:hover, &:focus, &:active{
				color: #fff;
				background-color: $colorTile;
				border-color: $colorTile;
			}
		}
	}
	
	.panel-warning.popup {
		.panel-heading {
			color: $colorHead;
			background: #FFE44E;
		}
	}
	
	.loading {
		.fa {
			color: darken($colorTile, 12%);
		}
		a {
			color: darken($colorTile, 12%);
		}
	}
	
	.form-control:focus {
		border-color: lighten($colorTile, 10%);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px lighten($colorTile, 10%);
	}

	.details-textarea {
		&:focus {
			outline: none;
			box-shadow: none;
		}		
	}

	.input-group-addon {
		background-color: hsl(hue($colorTile), 40%, 95%);
	}
	
	.headBlock {
		background: $colorHead;
	}
	
	.dataTables_scrollHead {
		th {
			background-color: hsl(hue($colorTile), 40%, 95%); 
			&:focus {
				outline-color: $colorHead; 
			}
		}
	}
	
	.metro {
		.table.hovered tbody tr:hover {
			background-color: hsl(hue($colorTile), 100%, 97.5%);
		}
	}
	
	.table {
		tr.selected, tr.shown {
			background-color: hsl(hue($colorTile), 100%, 96%);
		}
	}

	.ui-grid-top-panel {
		background: hsl(hue($colorTile), 40%, 95%);		
	}

	.ui-grid-header-cell-primary-focus {
		&:focus {
			outline-color: $colorHead; 
		}
	}
	
	.ui-grid-row:nth-child(even), .ui-grid-row:nth-child(odd) {
		.ui-grid-cell {
			background-color: #fff;
		}
		&:hover {
			.ui-grid-cell {
				background-color: hsl(hue($colorTile), 100%, 97.5%);
			}
		}
	}
	.ui-grid-row-selected:nth-child(even), .ui-grid-row-selected:nth-child(odd) {
		.ui-grid-cell {
			background-color: hsl(hue($colorTile), 100%, 96%);
		}
	}
}

@function z-ind($layer) {
  @return map-get($z-layers, $layer);
}