//Color for Tables
$bg-colorHeadBlock-Tables: #2e8bcc;
$bg-colorTile-Tables: #7AC5FF;

.forTables {
	@include colorsModule($bg-colorHeadBlock-Tables, $bg-colorTile-Tables);

	.bodyLeftBlock {
		padding: 4px 5px 5px 5px;
	}
}

#tableList {
	list-style: none;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
	-webkit-user-select: text;
	li {
		white-space: pre;
		font-size: 12px;
		line-height: 26px;
		color: #2A2A2A;
		letter-spacing: 0;
		padding-left: 5px;
		cursor:pointer;
		&:hover {   
			background: #E4F4FF;
		}
		&.selected {
			background:#EBF0F3; 
			border: 1px solid #DDDDDD; 
			border-right: none;
			line-height: 24px;
			padding-left: 4px;
		}
	}
	.fa {
		padding: 0px 6px 0 0;
		font-size: 18px;
		vertical-align: -10%;
		color: #515151;
	}
}





