//Color for Tables
$bg-colorHeadBlock-Tables: #2e8bcc;
$bg-colorTile-Tables: #7AC5FF;

.forTables {
	@include colorsModule($bg-colorHeadBlock-Tables, $bg-colorTile-Tables);

	.bodyLeftBlock {
		padding: 4px 5px 5px 5px;
	}
}





