$borderBlock: 1px solid #e2e2e2;
$bg-colorBlock: #F8F8F8;
$borderTable: 1px solid #b4b4b4;
$fontFamily: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;

//Color for Tables
$bg-colorHeadBlock-Tables: #2e8bcc;
$bg-colorTile-Tables: #7AC5FF;

//Color for Redis
$bg-colorHeadBlock-Redis: #00ADAA;
$bg-colorTile-Redis: #48E6B7;