@import "variables.scss";
@import "functions.scss";


table.dataTable,
table.dataTable th,
table.dataTable td {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

#tables_wrapper {
 	border: $borderTable;
}

#tables {
	-webkit-user-select: text;
	td {
		font-size: 12px;
		line-height: 14px;
		border-right: $borderTD;
		border-bottom: $borderTD;
		padding: 5px 12px 5px 8px;
	}
}

.dataTables_scroll {
	margin-top: 0px;
}

.dataTables_scrollHead {
	background-color: $bg-colorBlock;
	z-index: z-ind("tables-head");
	th {
		position: relative;
	}
}

.metro {
	.table {
		margin-top: -1px;
		th {
			font-size: 12px;
			border-right: $borderTD;
			padding: 4px 12px 4px 8px;
		}
		thead th {
			border-bottom: $borderTH;
		}
	}
	.dataTable thead {
		.sorting_asc:after, .sorting_desc:after, .sorting:after {
			position: absolute;
			float: right;
			right: 1px;
		}
	}
	.dataTables_scrollBody .dataTable thead {
		.sorting_asc:after, .sorting_desc:after, .sorting:after {
			font-size: 1px;
		}
	}
}

/*ui-grid for Redis and Blobs*/

.ui-grid {
 	border: $borderTable;
}

/*header table*/
.ui-grid-header {
	border-bottom: $borderTH;
	.ui-grid-cell-contents {
		font-size: 13px;
		padding: 6px 4px 6px 8px;
		.ui-grid-header-cell-label {
			font-weight: bold;
		}
	}
}

.ui-grid-header-cell {
    border-right: none;
}

.ui-grid-header-cell .sortable {
	border-right: $borderTD;
}

.ui-grid-header-cell:last-child .sortable{
	border-right: none;
}

.ui-grid-sort-priority-number {
	display: none;
}

.ui-grid-icon-up-dir, .ui-grid-icon-down-dir {
	display: block;
	float: right;
	&:before {
		font-size: 16px;
	}
}

.ui-grid-icon-down-dir {
	padding-top: 2px;
}

/*Body table*/
.ui-grid-canvas {
	.ui-grid-cell {
		border-right: $borderTD;
		border-bottom: $borderTD;
	}

	.ui-grid-row:last-child .ui-grid-cell {
		border-bottom: $borderTD !important;
	}

	.ui-grid-cell-contents {
		font-size: 13px;
		line-height: 16px;
		padding: 6px 8px 7px;
		-webkit-user-select: text;
		word-break: break-all;
		white-space: normal;
		overflow: visible;
	}

	.ui-grid-row .ui-grid-cell:last-child {
		border-right: none;
	}
	
	.ui-grid-row, .ui-grid-cell {
		height: auto !important;
	}

}














