@import "variables.scss";
@import "functions.scss";
@import "tiles.scss";
@import "redis.scss";
@import "tables.scss"; 
@import "blobs.scss"; 

#wrapperAzure {
	margin: 10px;
	font-family: $fontFamily;
	height: calc(100% - 20px);
}

/*Header*/
.navbar {
	min-height: 40px;
	white-space: nowrap;
	margin-bottom: 0px;
}

.navbar-brand {
	height: 40px;
	padding: 2px 10px 10px 9px;
	font-size: 19px;
	.icon-cloud {
		font-size: 40px;
		vertical-align: -27%;
		line-height: 0.8;
		padding-right: 5px;
		padding-left: 3px;
	}
	.fa {
		font-size: 30px;
		vertical-align: -12%;
		line-height: 1.2;
		padding-right: 5px;
	}
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus  {
	color: #ffffff;  
}

/*Functional panel*/

#navbarTilesFunction {
	margin: 0px;
	padding: 0px;
	border-right: $borderBlock;
	overflow: hidden !important;
	.navbar-nav {
		margin: 0px;
		padding-left: 9px;
		background: $bg-colorBlock;
		border: $borderBlock;
		width: 100%;
		min-width: 1170px;
	}
}

.tileFunction {
	display: block;
	cursor: pointer;
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;	
	color: #ffffff;
	margin: 10px 10px 10px 0px;
	&:active {
		transform: perspective(400px) rotateX(0.2rad);
		transform-origin: 50% bottom;
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		&:hover {
			text-decoration: none;
		}
	}
	.fa {
		padding-top: 6px;
		font-size: 32px;
		padding-bottom: 0px;
		margin-bottom: 0px;
	} 
	span {
		padding-top: 0px;
		margin-top: 0px;
		font-size: 13px;
		line-height: 0px;
	}
	&.longText span {
		letter-spacing: -0.5px;
	}
}


.delimiter-tiles {
	border-left: $borderBlock;
	height: 70px;
	margin: 5px 9px 5px -1px;
}

/*Dialog windows*/

.popup {
	margin: 0;
	position: absolute;
	left: calc(50% - 250px);
	top: calc(50% - 119px);
	display: inline-block; 
	z-index: z-ind("popup");
	box-shadow: 0px 0px 14px rgba(0,0,0,0.4);
	.panel-heading {
		padding: 8px 15px;
		font-size: 15px;
	}
	.checkbox .checkbox-label:before {
		height: 21px;
		width: 21px;
		border: 2px #d9d9d9 solid;
	}
	.btn-group {
		float: right; 
		margin-top: 10px;
	}
	.btn-default {
		&:active{
			box-shadow: inset 0 2px 6px rgba(0,0,0,.125);
		}
	}
}

.panel-warning.popup {
	width: 500px; 
} 

.input-group-sm>.input-group-addon {
	padding: 5px 8px;
	width: 96px;
	float: left;
}

.input-group-sm>.input-group-sm {
	margin-top:2px;
}

.input-group .form-control {
	width: 372px;
	float: left;
}

/*load indicator*/

.loading {
	width: 367px;
	height: 301px;
	padding: 108px;
	text-align: center;
	position: absolute;
	left: calc(50% - 183px);
	top: calc(50% - 150px);
	background: url(../img/Loading.png) no-repeat 0 0;
	z-index: z-ind("loading");
	line-height: 22px;
	.fa {
		padding: 4px;
		font-size: 32px;
		color: #2e8bcc;
	}
	a {
		cursor: pointer;
	}
}

/*Body*/

#content {
	height: calc(100% - 40px);
}

.wrapLeftBlock {
	margin: 0px 3px 10px 10px;
	height: 100%;
}

.wrapRightBlock {
	margin: 0px 10px 10px 6px;
	height: 100%;
	.headBlock .fa {
		padding-right: 4px;
	} 
}

.headBlock {
	color: #ffffff;
	height: 30px;
	line-height: 28px;
	font-size: 16px;
	white-space: nowrap;
	.fa {
		padding: 0 8px 0 10px;
		font-size: 18px;
		vertical-align: -10%;
	} 
}

.bodyLeftBlock, .bodyRightBlock {
	background: $bg-colorBlock;
	border: $borderBlock;
	height: calc(100% - 30px);
	padding: 8px;
}

.searchBar {
	margin-bottom: 10px;
	.form-control { 
		float: none; 
		max-height: 250px; 
		height: 36px;
		border: $borderTable;
		padding: 7px 30px 7px 12px;
		font-size: 13px;
		width: 100%;
		resize: vertical;
	}
	.tileFunction {
		width: 36px;
		height: 36px;
		margin: 0 0 0 8px;
		.fa {
			font-size: 22px;
		}
	}
}

.saerchText {
	position: relative;
	width: calc(100% - 45px);
	float: left;
}

.searchclear {
	position: absolute;
	right: 20px;
	top: 12px;
	bottom: 0;
	margin: 0;
	height: 14px;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}

.forRedis, .forBlobs {
	.searchclear {
		right: 10px;
	}
}

.forTables {
	#alertArea, #errorNotification {
		display: none;
	}
}

.clearFloat {
	clear: both;
}

