<div class=" margin-to-align tile-preview" ng-show="TilesViewModel.IsRedisVisible">
    <div class="thumbnail tile tile-medium">
        <a ng-click="TilesViewModel.openRedis()">
            <img src="/content/img/redis.png" style="width: 100px; height: 100px;">
            <h4 style="margin-top: -10px">
                Redis
            </h4>
        </a>
    </div>

    <div class="thumbnail tile tile-medium" >
        <a ng-click="TilesViewModel.openTables()">
            <img src="/content/img/azure-tables.png" style="width: 100px; height: 100px;">
            <h4 style="margin-top:-10px">
                Tables
            </h4>
        </a>
    </div>
</div>