<div class="container">
    <div class="metro grid">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="160" init-percentage="26.15384615384615">
                <div class="wrapLeftBlock">
                    <div class="headBlock">
                        <i class="fa fa-th-large"></i><span>AccountName</span>
                    </div>
                    <div class="bodyLeftBlock">
                        <div ui-grid="containerOptions" ui-grid-auto-resize ui-grid-selection ng-style="containerOptions.getStyle()"></div>
                    </div>
                </div>
            </bg-pane>

            <bg-pane min-size="50">
                <div class="wrapRightBlock">
                    <div class="headBlock">
                        <i class="fa fa-folder-open"></i>
                        <span id="blobName">bikes</span>
                    </div>
                    <div class="bodyRightBlock">
                        <div class="searchBar">
                            <div class="saerchText">
                                <input ng-model="ActionBarItems.SearchViewModel.Pattern" ng-change="ActionBarItems.SearchViewModel.onChange()" ng-enter="ActionBarItems.SearchViewModel.search()"
                                ng-ctrl-enter="ActionBarItems.SearchViewModel.search()" type="text" class="form-control"
                                autofocus />
                                <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="ActionBarItems.SearchViewModel.clear()"
                                ng-show="ActionBarItems.SearchViewModel.IsClearVisible"></span>
                            </div>
                            <span class="tileFunction">
                                <a class="fa-links" title="Search" ng-click="ActionBarItems.SearchViewModel.search()">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                            <div class="clearFloat"></div>
                        </div>

                        <div ui-grid="blobOptions" ui-grid-auto-resize ui-grid-selection ng-style="blobOptions.getStyle()"></div>
                    </div>
                </div>

            </bg-pane>
        </bg-splitter>

    </div>
</div>


<script type="text/ng-template" id="blobsSettingsTemplate">
    <div class="input-group input-group-sm">
        <label>Provide credentials to access your Blob storage</label>
    </div>

    <div class="input-group input-group-sm">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Url</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountUrl" class="form-control" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Name</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountName" class="form-control" />
        </div>

        <div class="input-group input-group-sm">
            <span class="input-group-addon">Account Key</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountKey" class="form-control" />
        </div>
    </div>
</script>

<script type="text/ng-template" id="blobImage">
    <img data-ng-src="data:image/png;base64,{{DialogViewModel.BodyViewModel.source}}" style="width: 500px;"/>
</script>

<script type="text/ng-template" id="blobText">
    <textarea class="details-textarea" ng-model="DialogViewModel.BodyViewModel.source"/>
</script>