<!doctype html>
<html ng-app='app' data-ng-csp>
<head>
    <title>Azure Tools</title>
    <!--css-->
    <link href="content/css/metro-ui-css/iconFont.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans-Bold.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans-Light.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/PTSerif-Caption.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/metroSysIcons.ttf" rel="stylesheet">
    <link href="content/css/metro-ui-css/metroSysIcons.woff" rel="stylesheet">
    <link href="content/css/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="content/css/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="content/css/fonts/fontawesome-webfont.woff2" rel="stylesheet">

    <link href="content/css/metro-ui-css/iconFont.css" rel="stylesheet">
    <link href="content/css/metro-ui-css/font-awesome.css" rel="stylesheet">

    <link href="content/css/angular-csp.css" rel="stylesheet">
    <link href="content/css/metro-ui-css/metro-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="content/css/metro-bootstrap.min.css" />
    <link href="content/css/metro-ui-css/metro-bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="content/css/grid.css" />
    <link rel="stylesheet" href="content/css/styles.css" />
    <link rel="stylesheet" href="content/css/splitter.css" />

    <link rel="stylesheet" href="content/css/styles/colReorder.css" />

     <link rel="stylesheet" href="content/css/drmonty-datatables-colvis/dataTables.colVis.min.css" />

    <!--js-->
    <script type="text/javascript" src="content/js/jquery.js"></script>
    <script type="text/javascript" src="content/js/bootstrap.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
</head>

<body ng-controller="AppController">
    <div ng-controller="ActionBarController" ng-class="{'forTables': state.current.name === 'tables', 'forRedis': state.current.name === 'redis', 'forBlobs': state.current.name === 'blobs', 'forTiles': state.current.name === 'tiles'}">
        <nav class="navbar navbar-default noMarginBottom" role="navigation">
            <div ng-class="{'margin-to-align': state.current.name === 'blobs'}">
                <div class="navbar-header" ng-style="{'margin-left: auto; margin-right:auto;': state.current.name === 'blobs'}">
                    <a class="row-fluid navbar-brand" ui-sref="tiles">
                        <i ng-show="state.current.name === 'tables' || state.current.name === 'redis'" class="fa fa-arrow-circle-left"></i><span ng-show="state.current.name === 'tiles' || state.current.name === 'blobs'" class="icon-cloud"></span>
                        <span>Azure Tools</span>
                        <span ng-show="state.current.name !== 'tiles'">{{ActionBarItems.ModuleName}}</span>
                    </a>
                </div>

                <div class="collapse navbar-collapse">               
                    <!--Blobs Action Bar-->
                    <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'blobs'">
                        <li ng-show="ActionBarItems.IsRefreshVisible"><a class="row-fluid" style="cursor: pointer;" ng-click="ActionBarItems.refresh()"><span class="icon-reply on-left-more" style="margin-right: 5px;"></span><span>Refresh</span></a></li>
                        <li ng-show="ActionBarItems.IsSettingsVisible"><a class="row-fluid" style="cursor: pointer;" ng-click="ActionBarItems.changeSettings()"><span class="icon-cog on-left-more" style="margin-right: 5px;"></span><span>Settings</span></a></li>
                        <li class="row-fluid" ng-show="ActionBarItems.IsSearchVisible" style="display: inline-flex;">
                            <input ng-model="ActionBarItems.SearchViewModel.Pattern"
                                   ng-change="ActionBarItems.SearchViewModel.onChange()"
                                   ng-enter="ActionBarItems.SearchViewModel.search()"
                                   ng-ctrl-enter="ActionBarItems.SearchViewModel.search()"
                                   type="text" class="form-control" style="margin-top: 8px; float: left; min-width:450px; " autofocus />
                            <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="ActionBarItems.SearchViewModel.clear()" ng-show="ActionBarItems.SearchViewModel.IsClearVisible"></span>

                            <a style="cursor: pointer; float: left;" ng-click="ActionBarItems.SearchViewModel.search()">
                                <span class="icon-search"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-controller="ActionBarController" class="collapse navbar-collapse" id="navbarTilesFunction">
            <!--Redis Action Bar-->
            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'redis'">
                <li ng-show="ActionBarItems.IsSettingsVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.IsRefreshVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Refresh table key" ng-click="ActionBarItems.refresh()">
                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li ng-show="ActionBarItems.IsAddKeyVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Add Key" ng-click="ActionBarItems.addKey()">
                            <i class="fa fa-plus-circle"></i><br /><span>Add Key</span>
                        </a>
                    </div>
                </li>  
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete Key"  ng-click="ActionBarItems.removeKey()">
                            <i class="fa fa-trash-o"></i><br /><span>Delete</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!--Tables Action Bar-->
            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
                <li ng-show="ActionBarItems.IsSettingsVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.IsRefreshVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Refresh table list" ng-click="ActionBarItems.refresh()">
                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Create new table" ng-click="ActionBarItems.createTable()">
                            <i class="fa fa-table"></i><br /><span>Create</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete selected table" ng-click="ActionBarItems.deleteTable()">
                            <i class="fa fa-trash-o"></i><br /><span>Delete</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Add entity" ng-click="ActionBarItems.createTableEntity()">
                            <i class="fa fa-plus-circle"></i><br /><span>Entity</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete entity" ng-click="ActionBarItems.deleteTableEntity()">
                            <i class="fa fa-minus-circle"></i><br />
                            <span>Entity</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.Continuation != null">
                    <div class="tileFunction">
                        <a class="fa-links" title="Load more" ng-click="ActionBarItems.loadMore()">
                            <i class="fa fa-play-circle"></i><br /><span>Entities</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>


        <div id="alertArea" class="alert alert-danger" style="display:none; z-index:100;">
            Error occured
            <a id="sendEmail" class="alert-link" target="_blank">Click here to send report to developer</a>
        </div>

        <div id="errorNotification" class="alert alert-warning" ng-controller="DialogsController" ng-show="NotifyViewModel.IsVisible" style="height: 50px;position: relative; z-index: 999;">
            <div style="float: left;">{{NotifyViewModel.Body}}</div>
            <a style="margin-left: 3px; cursor: pointer;" ng-show="NotifyViewModel.CommandText != null" ng-click="NotifyViewModel.Command()">{{NotifyViewModel.CommandText}}</a>
        </div>
        
        <div id="content" ui-view>
        </div>

        <div class="loading" ng-controller="BusyIndicatorController" ng-show="BusyIndicator.IsBusy === true">
            <i class="fa fa-spinner fa-pulse"></i><br>
            <span>{{BusyIndicator.Text}}</span>
            <a ng-click="BusyIndicator.cancel()">Cancel</a>
        </div>

        <div class="panel panel-primary popup" ng-class="{'popup-createEntity': DialogViewModel.Body === 'createTableEntityTemplate'}" ng-controller="DialogsController" ng-show="DialogViewModel.IsVisible">
            <div class="panel-heading">
                {{DialogViewModel.Header}}
            </div>

            <div class="panel-body">
                <div ng-include="DialogViewModel.Body">
                </div>

                <label class="checkbox" ng-show="DialogViewModel.WithOption">
                    <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
                    <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
                </label>

                <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
                    <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()">Save</button>
                    <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
                </div>
            </div>
        </div>

        <div id="confirmationDialog" class="panel panel-warning popup" ng-controller="ConfirmationController" ng-show="ConfirmationViewModel.IsVisible">
            <div class="panel-heading">
                {{ConfirmationViewModel.Header}}
            </div>

            <div class="panel-body">
                <div ng-bind="ConfirmationViewModel.Body">
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="ConfirmationViewModel.yes()">Yes</button>
                    <button type="button" class="btn btn-default" ng-click="ConfirmationViewModel.no()">No</button>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
