<!doctype html>
<html ng-app='app' data-ng-csp>
<head>
    <title>Azure Tools</title>
    <!--css-->
    <link href="content/css/metro-ui-css/iconFont.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans-Bold.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans-Light.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/OpenSans.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/PTSerif-Caption.woff" rel="stylesheet">
    <link href="content/css/metro-ui-css/metroSysIcons.ttf" rel="stylesheet">
    <link href="content/css/metro-ui-css/metroSysIcons.woff" rel="stylesheet">
    <link href="content/css/fonts/FontAwesome.otf" rel="stylesheet">
    <link href="content/css/fonts/fontawesome-webfont.woff" rel="stylesheet">
    <link href="content/css/fonts/fontawesome-webfont.woff2" rel="stylesheet">

    <link rel="stylesheet" href="content/css/ui-grid/ui-grid.eot" />
    <link rel="stylesheet" href="content/css/ui-grid/ui-grid.svg" />
    <link rel="stylesheet" href="content/css/ui-grid/ui-grid.ttf" />
    <link rel="stylesheet" href="content/css/ui-grid/ui-grid.woff" />

    <link href="content/css/metro-ui-css/iconFont.css" rel="stylesheet">
    <link href="content/css/metro-ui-css/font-awesome.css" rel="stylesheet">

    <link href="content/css/angular-csp.css" rel="stylesheet">
    <link href="content/css/metro-ui-css/metro-bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="content/css/metro-bootstrap.min.css" />
    <link href="content/css/metro-ui-css/metro-bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="content/css/styles/colReorder.css" />

    <link rel="stylesheet" href="content/css/drmonty-datatables-colvis/dataTables.colVis.min.css" />
    <link rel="stylesheet" href="content/css/ui-grid/ui-grid.min.css" />
    <link rel="stylesheet" href="content/css/angular-resizable/angular-resizable.css" />

    <link rel="stylesheet" href="content/css/grid.css" />
    <link rel="stylesheet" href="content/css/styles.css" />
    <link rel="stylesheet" href="content/css/splitter.css" />

    <!--js-->
    <script type="text/javascript" src="content/js/jquery.js"></script>
    <script type="text/javascript" src="content/js/bootstrap.js"></script>
    <script type="text/javascript" src="content/js/ui-grid.min.js"></script>
    <script type="text/javascript" src="content/js/ng-grid-flexible-height.js"></script>
    
    <script type="text/javascript" src="bundle.js"></script>
</head>

<body ng-controller="AppController">
    <div ng-controller="ActionBarController" id="wrapperAzure" ng-class="{'forTables': state.current.name === 'tables', 'forRedis': state.current.name === 'redis', 'forBlobs': state.current.name === 'blobs', 'forTiles': state.current.name === 'tiles'}">
        <nav class="navbar navbar-default" role="navigation">
            <div>
                <div class="navbar-header">
                    <a class="row-fluid navbar-brand" ui-sref="tiles">
                        <i ng-show="state.current.name !== 'tiles'" class="fa fa-arrow-circle-left"></i><span ng-show="state.current.name === 'tiles'" class="icon-cloud"></span>
                        <span>Azure Tools</span>
                        <span ng-show="state.current.name !== 'tiles'">{{ActionBarItems.ModuleName}}</span>
                    </a>
                </div>
            </div>
        </nav>

        <div ng-controller="ActionBarController" class="collapse navbar-collapse" id="navbarTilesFunction">

            <!--Redis Action Bar-->
            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'redis'">
                <li ng-show="ActionBarItems.IsSettingsVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.IsRefreshVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Refresh table key" ng-click="ActionBarItems.refresh()">
                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li ng-show="ActionBarItems.IsAddKeyVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Add Key" ng-click="ActionBarItems.addKey()">
                            <i class="fa fa-plus-circle"></i><br /><span>Add Key</span>
                        </a>
                    </div>
                </li>  
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete Key"  ng-click="ActionBarItems.removeKey()">
                            <i class="fa fa-trash-o"></i><br /><span>Delete</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!--Tables Action Bar-->
            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
                <li ng-show="ActionBarItems.IsSettingsVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.IsRefreshVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Refresh table list" ng-click="ActionBarItems.refresh()">
                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Create new table" ng-click="ActionBarItems.createTable()">
                            <i class="fa fa-table"></i><br /><span>Create</span>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete selected table" ng-click="ActionBarItems.deleteTable()">
                            <i class="fa fa-trash-o"></i><br /><span>Delete</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <!--<li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Add entity" ng-click="ActionBarItems.createTableEntity()">
                            <i class="fa fa-plus-circle"></i><br /><span>Entity</span>
                        </a>
                    </div>
                </li>-->
                <li>
                    <div class="tileFunction">
                        <a class="fa-links" title="Delete entity" ng-click="ActionBarItems.deleteTableEntity()">
                            <i class="fa fa-minus-circle"></i><br />
                            <span>Entity</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.Continuation != null">
                    <div class="tileFunction">
                        <a class="fa-links" title="Load more" ng-click="ActionBarItems.loadMore()">
                            <i class="fa fa-play-circle"></i><br /><span>Entities</span>
                        </a>
                    </div>
                </li>
            </ul>

            <!--Blobs Action Bar-->
            <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'blobs'">
                <li ng-show="ActionBarItems.IsSettingsVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Account storage" ng-click="ActionBarItems.changeSettings()">
                            <i class="fa fa-cog"></i><br /><span>Setting</span>
                        </a>
                    </div>
                </li>
                <li ng-show="ActionBarItems.IsRefreshVisible">
                    <div class="tileFunction">
                        <a class="fa-links" title="Refresh" ng-click="ActionBarItems.refresh()">
                            <i class="fa fa-refresh"></i><br /><span>Refresh</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles"></li>
                <li ng-click="ActionBarItems.blobsViewModel.showImage()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                    <div class="tileFunction">
                        <a class="fa-links" title="View the image" >
                            <i class="fa fa-picture-o"></i><br /><span>Image</span>
                        </a>
                    </div>
                </li>
                <li ng-click="ActionBarItems.blobsViewModel.showText()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                    <div class="tileFunction">
                        <a class="fa-links" title="View the text">
                            <i class="fa fa-file-text-o"></i><br />
                            <span>Text</span>
                        </a>
                    </div>
                </li>
                <li class="delimiter-tiles" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null"></li>
                <li ng-click="ActionBarItems.blobsViewModel.download()" ng-show="ActionBarItems.blobsViewModel.blobOptions.selectedBlob !== null">
                    <div class="tileFunction longText">
                        <a class="fa-links" title="Download the blob">
                            <i class="fa fa-download"></i><br /><span>Download</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>


        <div id="alertArea" class="alert alert-danger" style="display:none; z-index:100;">
            Error occured
            <a id="sendEmail" class="alert-link" target="_blank">Click here to send report to developer</a>
        </div>

      <!--  <div id="errorNotification" class="alert alert-warning" ng-controller="DialogsController" ng-show="NotifyViewModel.IsVisible" style="height: 50px;position: relative; z-index: 999;">
            <div style="float: left;">{{NotifyViewModel.Body}}</div>
            <a style="margin-left: 3px; cursor: pointer;" ng-show="NotifyViewModel.CommandText != null" ng-click="NotifyViewModel.Command()">{{NotifyViewModel.CommandText}}</a>
        </div>-->
        
        <div id="content" ui-view>
        </div>

        <div class="loading" ng-controller="BusyIndicatorController" ng-show="BusyIndicator.IsBusy === true">
            <i class="fa fa-spinner fa-pulse"></i><br>
            <span>{{BusyIndicator.Text}}</span>
            <a ng-click="BusyIndicator.cancel()">Cancel</a>
        </div>

        <div class="panel panel-primary popup" ng-class="{'popup-createEntity': DialogViewModel.Body === 'createTableEntityTemplate', 'popup-blobImage': DialogViewModel.Body === 'blobImage', 'popup-blobText': DialogViewModel.Body === 'blobText'}" ng-controller="DialogsController" ng-show="DialogViewModel.IsVisible" data-drag="true" jqyoui-draggable data-jqyoui-options="{ containment: 'parent'}" style="display: inline-block">
            <div class="panel-heading">
                {{DialogViewModel.Header}}
            </div>

            <div class="panel-body resizable">
                <div ng-include="DialogViewModel.Body">
                </div>

                <label class="checkbox" ng-show="DialogViewModel.WithOption">
                    <input type="checkbox" style="float:left;" ng-model="DialogViewModel.IsChecked" ng-change="DialogViewModel.onChecked()">
                    <span class="checkbox-label">{{DialogViewModel.OptionText}}</span>
                </label>

                <div class="btn-group" ng-disabled="DialogViewModel.AreButtonsDisabled">
                    <button type="button" class="btn btn-default" ng-click="DialogViewModel.save()" ng-show="DialogViewModel.IsSaveVisible">Save</button>
                    <button type="button" class="btn btn-default" ng-click="DialogViewModel.cancel()">Cancel</button>
                </div>
            </div>
        </div>

        <div id="confirmationDialog" class="panel panel-warning popup" ng-controller="ConfirmationController" ng-show="ConfirmationViewModel.IsVisible">
            <div class="panel-heading">
                {{ConfirmationViewModel.Header}}
            </div>

            <div class="panel-body">
                <div ng-bind="ConfirmationViewModel.Body">
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="ConfirmationViewModel.yes()">Yes</button>
                    <button type="button" class="btn btn-default" ng-click="ConfirmationViewModel.no()">No</button>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>
