<div class="gridTables">
    <div class="metro grid" style="font-weight: normal;">
        <bg-splitter orientation="horizontal">
            <bg-pane min-size="50" init-width-percentage="26">
                
                <div class="wrapTablesSelect">
                    <div class="headTablesSelect">
                            <i class="fa fa-windows"></i><span>dorphoenixtest</span>
                    </div>
                    <div class="tablesSelect">
                        <ul>
                            <li><i class="fa fa-table"></i>dorphoenixtest01feb2015at120911563hadoopinstalllog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest01feb2015at120911563hadoopservicelog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest01feb2015at120911563setuplog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest24jan2015at171325187hadoopinstalllog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest24jan2015at171325187hadoopservicelog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest24jan2015at171325187setuplog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest31jan2015at103600640hadoopinstalllog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest31jan2015at103600640hadoopservicelog</li>
                            <li><i class="fa fa-table"></i>udorphoenixtest31jan2015at103600640setuplog</li>
                        </ul>
                    </div>
                 </div>
            </bg-pane>
            <bg-pane min-size="50">
                
                <div class="tablesContainer">
                    <table id="tables" cellpadding="0" cellspacing="0" border="0" class="table striped hovered dataTable" style="-webkit-user-select: text;"></table>
                </div>
                
            </bg-pane>
        </bg-splitter>
    </div>
</div>
    


    


    <!-- <div ng-controller="ActionBarController">
        <ul class="nav navbar-nav" ng-show="ActionBarItems.IsActionBarVisible && state.current.name === 'tables'">
            <li ng-show="ActionBarItems.IsTablesSelectVisible">
                <select ng-model="ActionBarItems.TableSelectViewModel.SelectedTable"
                ng-options="item as item for item in ActionBarItems.TableSelectViewModel.Tables"
                ng-change="ActionBarItems.TableSelectViewModel.onSelectedTableChanged()"
                style="margin-top: 14px; min-width: 200px; max-width: 400px;"></select>
            </li>
            <li class="row-fluid" ng-show="ActionBarItems.IsSearchVisible" style="display: inline-flex;">
                <input ng-model="ActionBarItems.SearchViewModel.Pattern"
                ng-change="ActionBarItems.SearchViewModel.onChange()"
                ng-enter="ActionBarItems.SearchViewModel.search()"
                ng-ctrl-enter="ActionBarItems.SearchViewModel.search()"
                type="text" class="form-control" style="margin-top: 8px; float: left; min-width:450px; " autofocus />
                <span id="searchclear" class="searchclear glyphicon glyphicon-remove-circle" ng-click="ActionBarItems.SearchViewModel.clear()" ng-show="ActionBarItems.SearchViewModel.IsClearVisible"></span>

                <a style="cursor: pointer; float: left;" ng-click="ActionBarItems.SearchViewModel.search()">
                    <span class="icon-search"></span>
                </a>
            </li>
        </ul>
    </div> -->


<script type="text/ng-template" id="tablesSettingsTemplate">
    <div class="input-group input-group-sm">
        <label>Provide credentials to access your Azure Table storage</label>
    </div>

    <div class="input-group input-group-sm">
        <div class="input-group input-group-sm" style="margin-top:2px">
            <span class="input-group-addon" style="width:96px;">Account Url</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountUrl" class="form-control" style="width:372px" />
        </div>

        <div class="input-group input-group-sm" style="margin-top:2px">
            <span class="input-group-addon" style="width:96px;">Account Name</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountName" class="form-control" style="float:left; width:372px" />
        </div>

        <div class="input-group input-group-sm" style="margin-top:2px">
            <span class="input-group-addon" style="width:96px;">Account Key</span>
            <input ng-model="DialogViewModel.BodyViewModel.AccountKey" class="form-control" style="float:left;width:372px" />
        </div>
    </div>
</script>