table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#tables_wrapper {
  border: 1px solid #b4b4b4;
}

#tables {
  -webkit-user-select: text;
}
#tables td {
  font-size: 12px;
  line-height: 14px;
  border-right: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
  padding: 5px 12px 5px 8px;
}

.dataTables_scroll {
  margin-top: 0px;
}

.dataTables_scrollHead {
  background-color: #F8F8F8;
  z-index: 200;
}
.dataTables_scrollHead th {
  position: relative;
}

.metro .table {
  margin-top: -1px;
}
.metro .table th {
  font-size: 12px;
  border-right: 1px #DDDDDD solid;
  padding: 4px 12px 4px 8px;
}
.metro .table thead th {
  border-bottom: 1px solid #b4b4b4;
}
.metro .dataTable thead .sorting_asc:after, .metro .dataTable thead .sorting_desc:after, .metro .dataTable thead .sorting:after {
  position: absolute;
  float: right;
  right: 1px;
}
.metro .dataTables_scrollBody .dataTable thead .sorting_asc:after, .metro .dataTables_scrollBody .dataTable thead .sorting_desc:after, .metro .dataTables_scrollBody .dataTable thead .sorting:after {
  font-size: 1px;
}

/*ui-grid for Redis and Blobs*/
.ui-grid {
  border: 1px solid #b4b4b4;
}

/*header table*/
.ui-grid-header {
  border-bottom: 1px solid #b4b4b4;
}
.ui-grid-header .ui-grid-cell-contents {
  font-size: 13px;
  padding: 6px 4px 6px 8px;
}
.ui-grid-header .ui-grid-cell-contents .ui-grid-header-cell-label {
  font-weight: bold;
}

.ui-grid-header-cell {
  border-right: none;
}

.ui-grid-header-cell .sortable {
  border-right: 1px #DDDDDD solid;
}

.ui-grid-header-cell:last-child .sortable {
  border-right: none;
}

.ui-grid-sort-priority-number {
  display: none;
}

.ui-grid-icon-up-dir, .ui-grid-icon-down-dir {
  display: block;
  float: right;
}
.ui-grid-icon-up-dir:before, .ui-grid-icon-down-dir:before {
  font-size: 16px;
}

.ui-grid-icon-down-dir {
  padding-top: 2px;
}

/*Body table*/
.ui-grid-canvas {
  padding-top: 0px;
}
.ui-grid-canvas .ui-grid-cell {
  border-right: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
}
.ui-grid-canvas .ui-grid-row:last-child .ui-grid-cell {
  border-bottom: 1px #DDDDDD solid !important;
}
.ui-grid-canvas .ui-grid-cell-contents {
  font-size: 13px;
  line-height: 16px;
  padding: 6px 8px 7px;
  -webkit-user-select: text;
  word-break: break-all;
  white-space: normal;
  overflow: visible;
}
.ui-grid-canvas .ui-grid-row .ui-grid-cell:last-child {
  border-right: none;
}
.ui-grid-canvas .ui-grid-row, .ui-grid-canvas .ui-grid-cell {
  height: auto !important;
}
