.details-textarea {
  width: 100%;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#tables_wrapper, #data_wrapper, #hashSetTable_wrapper,
#setTable_wrapper, #containers_wrapper, #blobs_wrapper {
  border: 1px solid #b4b4b4;
}

#tables, #data, #hashSetTable, #value-Set, #containers, #blobs {
  -webkit-user-select: text;
}
#tables td, #data td, #hashSetTable td, #value-Set td, #containers td, #blobs td {
  font-size: 12px;
  line-height: 14px;
  border-right: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
  padding: 5px 12px 5px 8px;
}

#data td, #hashSetTable td, #value-Set td, #containers td, #blobs td {
  font-size: 13px;
  line-height: 16px;
  padding: 7px 12px 7px 8px;
}

#blobs td {
  line-height: 14px;
  word-break: break-all;
}

.dataTables_scroll {
  margin-top: 0px;
}

.dataTables_scrollHead {
  z-index: 200;
}
.dataTables_scrollHead th {
  position: relative;
}

.metro .table {
  margin-top: -1px;
}
.metro .table th {
  font-size: 12px;
  border-right: 1px #DDDDDD solid;
  padding: 4px 12px 4px 8px;
}
.metro .table thead th {
  border-bottom: 1px solid #b4b4b4;
}
.metro .dataTable thead .sorting_asc:after, .metro .dataTable thead .sorting_desc:after, .metro .dataTable thead .sorting:after {
  position: absolute;
  float: right;
  right: 1px;
}
.metro .dataTables_scrollBody .dataTable thead .sorting_asc:after, .metro .dataTables_scrollBody .dataTable thead .sorting_desc:after, .metro .dataTables_scrollBody .dataTable thead .sorting:after {
  font-size: 1px;
}

/* for Redis and Blobs*/
.forRedis .metro .table, .forBlobs .metro .table {
  margin-bottom: 0;
}
.forRedis .metro .table th, .forBlobs .metro .table th {
  font-size: 13px;
  line-height: 22px;
}
.forRedis .metro .dataTable thead .sorting_asc:after, .forRedis .metro .dataTable thead .sorting_desc:after, .forRedis .metro .dataTable thead .sorting:after, .forBlobs .metro .dataTable thead .sorting_asc:after, .forBlobs .metro .dataTable thead .sorting_desc:after, .forBlobs .metro .dataTable thead .sorting:after {
  right: 5px;
}

.ngViewport {
height: auto !important;
min-height: 200px !important;
}