.details-textarea {
  width: 100%;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#tables_wrapper, #data_wrapper, #hashSetTable_wrapper,
#setTable_wrapper {
  border: 1px solid #b4b4b4;
}

#tables, #data, #hashSetTable, #value-Set {
  -webkit-user-select: text;
}
#tables td, #data td, #hashSetTable td, #value-Set td {
  font-size: 12px;
  line-height: 14px;
  border-right: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
  padding: 5px 12px 5px 8px;
}

#data td, #hashSetTable td, #value-Set td {
  font-size: 13px;
  line-height: 16px;
  padding: 7px 12px 7px 8px;
}

.dataTables_scroll {
  margin-top: 0px;
}

.dataTables_scrollHead {
  background-color: #F8F8F8;
  z-index: 200;
}
.dataTables_scrollHead th {
  position: relative;
}

.metro .table {
  margin-top: -1px;
}
.metro .table th {
  font-size: 12px;
  border-right: 1px #DDDDDD solid;
  padding: 4px 12px 4px 8px;
}
.metro .table thead th {
  border-bottom: 1px solid #b4b4b4;
}
.metro .dataTable thead .sorting_asc:after, .metro .dataTable thead .sorting_desc:after, .metro .dataTable thead .sorting:after {
  position: absolute;
  float: right;
  right: 1px;
}
.metro .dataTables_scrollBody .dataTable thead .sorting_asc:after, .metro .dataTables_scrollBody .dataTable thead .sorting_desc:after, .metro .dataTables_scrollBody .dataTable thead .sorting:after {
  font-size: 1px;
}

/* For Redis*/
.forRedis .metro .table {
  margin-bottom: 0;
}
.forRedis .metro .table th {
  font-size: 13px;
  line-height: 22px;
}
.forRedis .metro .dataTable thead .sorting_asc:after, .forRedis .metro .dataTable thead .sorting_desc:after, .forRedis .metro .dataTable thead .sorting:after {
  right: 5px;
}

/*ui-grid for Redis and Blobs*/
.ui-grid {
  border: 1px solid #b4b4b4;
}

/*header table*/
.ui-grid-header {
  border-bottom: 1px solid #b4b4b4;
}

.ui-grid-sort-priority-number {
  display: none;
}

.ui-grid-icon-up-dir, .ui-grid-icon-down-dir {
  display: block;
  float: right;
}
.ui-grid-icon-up-dir:before, .ui-grid-icon-down-dir:before {
  font-size: 16px;
}

/*Body table*/
.ui-grid-canvas {
  padding-top: 0px;
}
.ui-grid-canvas .ui-grid-cell-contents {
  font-size: 13px;
  line-height: 16px;
  padding: 7px 12px 7px 8px;
  border-right: 1px #DDDDDD solid;
  border-bottom: 1px #DDDDDD solid;
}
.ui-grid-canvas .ui-grid-row .ui-grid-cell-contents:last-child {
  border-right: none;
}
