.forRedis .navbar-default {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .tileFunction {
  background-color: #48E6B7;
}
.forRedis .tileFunction:hover {
  background-color: #6cebc5;
}
.forRedis .popup {
  border-color: #00ADAA;
}
.forRedis .popup .panel-heading {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .loading .fa {
  color: #1dd49d;
}
.forRedis .loading a {
  color: #1dd49d;
}
.forRedis .input-group-addon {
  background-color: #edf7f4;
}
.forRedis .headBlock {
  background: #00ADAA;
}

.forTables .navbar-default {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .tileFunction {
  background-color: #7AC5FF;
}
.forTables .tileFunction:hover {
  background-color: #a3d7ff;
}
.forTables .popup {
  border-color: #2e8bcc;
}
.forTables .popup .panel-heading {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .loading .fa {
  color: #3daaff;
}
.forTables .loading a {
  color: #3daaff;
}
.forTables .input-group-addon {
  background-color: #edf3f7;
}
.forTables .headBlock {
  background: #2e8bcc;
}
.forTables .bodyLeftBlock {
  padding: 4px 5px 5px 5px;
}

.forTables, .forRedis {
  margin: 10px;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  height: calc(100% - 20px);
}
.forTables .navbar, .forRedis .navbar {
  min-height: 40px;
}
.forTables .navbar-brand, .forRedis .navbar-brand {
  height: 40px;
  padding: 10px;
  padding-top: 2px;
}
.forTables .icon-cloud, .forRedis .icon-cloud {
  font-size: 38px;
  vertical-align: -26%;
  line-height: 0.8;
  padding-right: 5px;
}
.forTables .input-group-sm > .input-group-addon, .forRedis .input-group-sm > .input-group-addon {
  padding: 5px 8px;
}

.navbar-brand {
  padding-top: 3px;
}

.navbar-default .navbar-brand:hover {
  color: #DCF2FB;
}

.icon-cloud {
  font-size: 35px;
  vertical-align: -16%;
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.leftOffset {
  margin-left: 113px;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.navbarTilesFunction {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.navbarTilesFunction .navbar-nav {
  margin: 0px;
  padding-right: 10px;
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  width: 100%;
}

.tileFunction {
  display: block;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
  margin: 10px 0 10px 10px;
}
.tileFunction:active {
  transform: perspective(400px) rotateX(0.2rad);
  transform-origin: 50% bottom;
}
.tileFunction a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.tileFunction a:hover {
  text-decoration: none;
}
.tileFunction .fa {
  padding-top: 6px;
  font-size: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.tileFunction span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 0px;
}

.delimiter-tiles {
  border-left: 1px solid #e2e2e2;
  height: 70px;
  margin: 5px -1px 5px 9px;
}

.popup {
  margin: 0;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 119px);
  display: inline-block;
  z-index: 1000;
}

.loading {
  width: 367px;
  height: 301px;
  padding: 108px;
  text-align: center;
  position: absolute;
  left: calc(50% - 183px);
  top: calc(50% - 150px);
  background: url(../img/Loading.png) no-repeat 0 0;
  z-index: 999;
  line-height: 22px;
}
.loading .fa {
  padding: 4px;
  font-size: 32px;
  color: #2e8bcc;
}
.loading a {
  cursor: pointer;
}

#content {
  height: 100%;
}

.wrapLeftBlock {
  margin: 0px 3px 10px 10px;
  height: 100%;
}

.headBlock {
  color: #ffffff;
  height: 30px;
  line-height: 28px;
  font-size: 16px;
  white-space: nowrap;
}
.headBlock .fa {
  padding: 0 8px;
  font-size: 18px;
  vertical-align: -10%;
}

.bodyLeftBlock, .bodyRightBlock {
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  height: calc(100% - 30px);
  padding: 8px;
}

#tableList {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-user-select: text;
}
#tableList li {
  white-space: pre;
  font-size: 12px;
  line-height: 26px;
  color: #2A2A2A;
  letter-spacing: 0;
  padding-left: 5px;
  cursor: pointer;
}
#tableList li:hover {
  background: #E4F4FF;
}
#tableList li.selected {
  background: #EBF0F3;
  border: 1px solid #DDDDDD;
  border-right: none;
  line-height: 24px;
  padding-left: 4px;
}
#tableList .fa {
  padding: 0px 6px 0 0;
  font-size: 18px;
  vertical-align: -10%;
  color: #515151;
}

.wrapRightBlock {
  margin: 0px 10px 10px 6px;
  height: 100%;
}

.searchBar {
  margin-bottom: 10px;
}

.searchBar .form-control {
  float: none;
  max-height: 250px;
  height: 36px;
  border: 1px solid #b4b4b4;
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  resize: vertical;
}

.searchBar .form-control:focus {
  border-color: #7AC5FF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px rgba(102, 175, 233, 0.6);
}

.saerchText {
  position: relative;
  width: calc(100% - 45px);
  float: left;
}

.searchclear {
  position: absolute;
  right: 55px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.forTables .searchclear {
  right: 20px;
  top: 12px;
  margin: 0;
}

.searchBar .tileFunction {
  width: 36px;
  height: 36px;
  margin: 0 0 0 8px;
}

.searchBar .tileFunction .fa {
  font-size: 22px;
}

#tables_wrapper {
  border: 1px solid #b4b4b4;
  overflow: hidden;
}

#data_wrapper {
  margin-top: 20px;
}

.forTables #alertArea, .forTables #errorNotification {
  display: none;
}

.thumbnail {
  margin-top: 10px;
  margin-right: 4px;
}

@media (max-width: 992px) {
  .margin-to-align {
    margin-left: 0px;
    position: relative;
  }
}
@media (max-width: 992px) {
  .tile-preview {
    margin-left: 0px;
    position: relative;
    width: 160px;
  }
}
@media (min-width: 992px) {
  .margin-to-align {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .margin-to-align {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1140px;
  }
}
.clearFloat {
  clear: both;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
