.forRedis .navbar-default {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .tileFunction {
  background-color: #48E6B7;
}
.forRedis .tileFunction:hover {
  background-color: #75ecc9;
}
.forRedis .popup {
  border-color: #00ADAA;
}
.forRedis .popup .panel-heading {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .loading .fa {
  color: #1dd49d;
}
.forRedis .loading a {
  color: #1dd49d;
}
.forRedis .form-control:focus {
  border-color: #75ecc9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #75ecc9;
}
.forRedis .input-group-addon {
  background-color: #edf7f4;
}
.forRedis .headBlock {
  background: #00ADAA;
}
.forRedis .dataTables_scrollHead th {
  background-color: #edf7f4;
}
.forRedis .dataTables_scrollHead th:focus {
  outline-color: #00ADAA;
}
.forRedis .metro .table.hovered tbody tr:hover {
  background-color: #e5fff7;
}
.forRedis .table tr.selected {
  background-color: #dff1ec;
}
.forRedis .wrapRightBlock .headBlock span {
  padding-left: 10px;
}

#headBlock-Database .fa {
  float: left;
  padding: 6px 8px 6px 10px;
}
#headBlock-Database span:not(.caret) {
  float: left;
}
#headBlock-Database .dropdown {
  float: left;
  margin: -1px 2px -1px 8px;
}
#headBlock-Database button {
  padding: 3px 9px 3px 5px;
  width: 46px;
  background-color: #48E6B7;
  color: #ffffff;
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}
#headBlock-Database button:active, #headBlock-Database button:hover {
  background-color: #75ecc9 !important;
}
#headBlock-Database button:focus {
  border: 1px transparent solid;
  background-color: #75ecc9 !important;
}
#headBlock-Database .caret {
  float: right;
  margin: 7px 0px 5px 4px;
}
#headBlock-Database .dropdown-menu {
  top: 30px;
  z-index: 1100;
  min-width: 90px;
  border: 1px solid #00ADAA;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.175);
}
#headBlock-Database .dropdown-menu li {
  margin: 0;
}
#headBlock-Database .dropdown-menu li:hover {
  background-color: #edf7f4;
  border-color: #edf7f4;
}
#headBlock-Database .dropdown-menu li a {
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}
#headBlock-Database .dropdown-menu li a:hover, #headBlock-Database .dropdown-menu li a:focus {
  background-color: #edf7f4;
}

.typeValue {
  margin-bottom: 10px;
}

.metro .typeValue p {
  padding: 0px 6px 4px 0;
  font-size: 15px;
  margin: 0;
  line-height: 32px;
  color: #2A2A2A;
}
.metro .typeValue span {
  font-weight: bold;
  color: #1edda4;
}

.editValue {
  height: 100%;
}
.editValue p {
  margin: 0 0 8px;
  padding-top: 2px;
}
.editValue .form-control {
  height: calc(100% - 65px);
  border: 1px solid #b4b4b4;
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  min-height: 36px;
  resize: none;
}
.editValue .tileFunction {
  width: 48px;
  height: 30px;
  -webkit-user-select: none;
  line-height: 30px;
  float: right;
  margin: 8px 0 7px 8px;
}

#value-String {
  height: 100%;
}
#value-String .form-control {
  height: calc(100% - 112px);
}

.forTables .navbar-default {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .tileFunction {
  background-color: #7AC5FF;
}
.forTables .tileFunction:hover {
  background-color: #addbff;
}
.forTables .popup {
  border-color: #2e8bcc;
}
.forTables .popup .panel-heading {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .loading .fa {
  color: #3daaff;
}
.forTables .loading a {
  color: #3daaff;
}
.forTables .form-control:focus {
  border-color: #addbff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #addbff;
}
.forTables .input-group-addon {
  background-color: #edf3f7;
}
.forTables .headBlock {
  background: #2e8bcc;
}
.forTables .dataTables_scrollHead th {
  background-color: #edf3f7;
}
.forTables .dataTables_scrollHead th:focus {
  outline-color: #2e8bcc;
}
.forTables .metro .table.hovered tbody tr:hover {
  background-color: #e5f4ff;
}
.forTables .table tr.selected {
  background-color: #dfe9f1;
}
.forTables .bodyLeftBlock {
  padding: 4px 5px 5px 5px;
}

#tableList {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-user-select: text;
}
#tableList li {
  white-space: pre;
  font-size: 12px;
  line-height: 26px;
  color: #2A2A2A;
  letter-spacing: 0;
  padding-left: 4px;
  cursor: pointer;
}
#tableList li:hover {
  background: #e5f4ff;
}
#tableList li.selected {
  background: #dfe9f1;
  border: 1px #DDDDDD solid;
  border-right: none;
  line-height: 24px;
  padding-left: 3px;
}
#tableList .fa {
  padding: 0px 6px 0 0;
  font-size: 18px;
  vertical-align: -10%;
  color: #515151;
}

.forTables, .forRedis {
  margin: 10px;
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  height: calc(100% - 20px);
  /*Header*/
}
.forTables .navbar, .forRedis .navbar {
  min-height: 40px;
  white-space: nowrap;
}
.forTables .navbar-brand, .forRedis .navbar-brand {
  height: 40px;
  padding: 2px 10px 10px 9px;
}
.forTables .icon-cloud, .forRedis .icon-cloud {
  font-size: 38px;
  vertical-align: -26%;
  line-height: 0.8;
  padding-right: 5px;
}

/*Header*/
.navbar-brand {
  padding-top: 3px;
}

.navbar-default .navbar-brand:hover {
  color: #DCF2FB;
}

.icon-cloud {
  font-size: 35px;
  vertical-align: -16%;
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.noMarginBottom {
  margin-bottom: 0px;
}

/*Functional panel*/
#navbarTilesFunction {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #e2e2e2;
  overflow: hidden !important;
}
#navbarTilesFunction .navbar-nav {
  margin: 0px;
  padding-left: 9px;
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  width: 100%;
  min-width: 1170px;
}

.tileFunction {
  display: block;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  margin: 10px 10px 10px 0px;
}
.tileFunction:active {
  transform: perspective(400px) rotateX(0.2rad);
  transform-origin: 50% bottom;
}
.tileFunction a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.tileFunction a:hover {
  text-decoration: none;
}
.tileFunction .fa {
  padding-top: 6px;
  font-size: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.tileFunction span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 0px;
}

.delimiter-tiles {
  border-left: 1px solid #e2e2e2;
  height: 70px;
  margin: 5px 9px 5px -1px;
}

/*Dialog windows*/
.popup {
  margin: 0;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 119px);
  display: inline-block;
  z-index: 1000;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.175);
}

.forRedis .input-group-sm > .input-group-addon, .forTables .input-group-sm > .input-group-addon {
  padding: 5px 8px;
}

#createTableEntity ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.loading {
  width: 367px;
  height: 301px;
  padding: 108px;
  text-align: center;
  position: absolute;
  left: calc(50% - 183px);
  top: calc(50% - 150px);
  background: url(../img/Loading.png) no-repeat 0 0;
  z-index: 900;
  line-height: 22px;
}
.loading .fa {
  padding: 4px;
  font-size: 32px;
  color: #2e8bcc;
}
.loading a {
  cursor: pointer;
}

/*Body*/
#content {
  height: 100%;
}

.wrapLeftBlock {
  margin: 0px 3px 10px 10px;
  height: 100%;
}

.headBlock {
  color: #ffffff;
  height: 30px;
  line-height: 28px;
  font-size: 16px;
  white-space: nowrap;
}
.headBlock .fa {
  padding: 0 8px 0 10px;
  font-size: 18px;
  vertical-align: -10%;
}

.bodyLeftBlock, .bodyRightBlock {
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  height: calc(100% - 30px);
  padding: 8px;
}

.wrapRightBlock {
  margin: 0px 10px 10px 6px;
  height: 100%;
}

.searchBar {
  margin-bottom: 10px;
}
.searchBar .form-control {
  float: none;
  max-height: 250px;
  height: 36px;
  border: 1px solid #b4b4b4;
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  resize: vertical;
}
.searchBar .tileFunction {
  width: 36px;
  height: 36px;
  margin: 0 0 0 8px;
}
.searchBar .tileFunction .fa {
  font-size: 22px;
}

.saerchText {
  position: relative;
  width: calc(100% - 45px);
  float: left;
}

.searchclear {
  position: absolute;
  right: 55px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.forTables .searchclear, .forRedis .searchclear {
  right: 20px;
  top: 12px;
  margin: 0;
}

.forRedis .searchclear {
  right: 12px;
}

#tables_wrapper, #data_wrapper {
  border: 1px solid #b4b4b4;
}

#hashSetTable_wrapper, #setTable_wrapper {
  border: 1px solid #b4b4b4;
}

.forTables #alertArea, .forTables #errorNotification {
  display: none;
}

.thumbnail {
  margin-top: 10px;
  margin-right: 4px;
}

@media (max-width: 992px) {
  .margin-to-align {
    margin-left: 0px;
    position: relative;
  }
}
@media (max-width: 992px) {
  .tile-preview {
    margin-left: 0px;
    position: relative;
    width: 160px;
  }
}
@media (min-width: 992px) {
  .margin-to-align {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .margin-to-align {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1140px;
  }
}
.clearFloat {
  clear: both;
}
