.forTiles a.navbar-brand {
  cursor: default;
}
.forTiles .navbar-default .navbar-brand:hover {
  color: #ffffff;
}
.forTiles .navbar-default {
  background: #2e8bcc;
  background: linear-gradient(to right, #2e8bcc 0%, #00ADAA 100%);
}

.tiles-preview {
  height: calc(100% - 2px);
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  margin: 0 auto;
}

.tilePreview {
  display: block;
  cursor: pointer;
  float: left;
  width: 154px;
  height: 154px;
  text-align: center;
  color: #ffffff;
  margin: 12px 0px 0px 12px;
}
.tilePreview:last-child {
  margin-right: 12px;
}
.tilePreview-redis {
  background-color: #00ADAA;
}
.tilePreview-tables {
  background-color: #2e8bcc;
}
.tilePreview-blobs {
  background-color: #039BC1;
}
.tilePreview:active {
  transform: perspective(400px) rotateX(0.1rad);
  transform-origin: 50% bottom;
}
.tilePreview:hover {
  opacity: 0.7;
}
.tilePreview a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.tilePreview a:hover {
  text-decoration: none;
}
.tilePreview img {
  width: 110px;
  height: 110px;
  margin-top: 5px;
}
.tilePreview h4 {
  line-height: 26px;
  font-size: 30px;
  margin: 0;
  letter-spacing: 1px;
}

.forRedis .navbar-default {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .navbar-default .navbar-brand:hover {
  color: #d6fff3;
}
.forRedis .tileFunction {
  background-color: #48E6B7;
}
.forRedis .tileFunction:hover {
  background-color: #75ecc9;
}
.forRedis .popup {
  border-color: #00ADAA;
}
.forRedis .popup .panel-heading {
  background-color: #00ADAA;
  border-color: #00ADAA;
}
.forRedis .popup .btn-default {
  background-color: #f4faf9;
}
.forRedis .popup .btn-default:hover, .forRedis .popup .btn-default:focus, .forRedis .popup .btn-default:active {
  color: #fff;
  background-color: #48E6B7;
  border-color: #48E6B7;
}
.forRedis .panel-warning.popup .panel-heading {
  color: #00ADAA;
  background: #FFE44E;
}
.forRedis .loading .fa {
  color: #1dd49d;
}
.forRedis .loading a {
  color: #1dd49d;
}
.forRedis .form-control:focus {
  border-color: #75ecc9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #75ecc9;
}
.forRedis .input-group-addon {
  background-color: #edf7f4;
}
.forRedis .headBlock {
  background: #00ADAA;
}
.forRedis .dataTables_scrollHead th {
  background-color: #edf7f4;
}
.forRedis .dataTables_scrollHead th:focus {
  outline-color: #00ADAA;
}
.forRedis .metro .table.hovered tbody tr:hover {
  background-color: #e5fff7;
}
.forRedis .table tr.selected, .forRedis .table tr.shown {
  background-color: #dff1ec;
}
.forRedis .ui-grid-top-panel {
  background: #edf7f4;
}
.forRedis .ui-grid-header-cell-primary-focus:focus {
  outline-color: #00ADAA;
}
.forRedis .ui-grid-row:nth-child(even) .ui-grid-cell, .forRedis .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}
.forRedis .ui-grid-row:nth-child(even) .ui-grid-cell:hover, .forRedis .ui-grid-row:nth-child(odd) .ui-grid-cell:hover {
  background-color: #e5fff7;
}
.forRedis .ui-grid-row-selected:nth-child(even) .ui-grid-cell, .forRedis .ui-grid-row-selected:nth-child(odd) .ui-grid-cell {
  background-color: #dff1ec;
}
.forRedis .wrapRightBlock .headBlock span {
  padding-left: 10px;
}
.forRedis .bodyLeftBlock {
  padding-left: 9px;
}

#headBlock-Database .fa {
  float: left;
  padding: 6px 8px 6px 10px;
}
#headBlock-Database span:not(.caret) {
  float: left;
}
#headBlock-Database .dropdown {
  float: left;
  margin: -1px 2px -1px 8px;
}
#headBlock-Database button {
  padding: 3px 9px 3px 5px;
  width: 46px;
  background-color: #48E6B7;
  color: #ffffff;
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
}
#headBlock-Database button:active, #headBlock-Database button:hover {
  background-color: #75ecc9 !important;
}
#headBlock-Database button:focus {
  border: 1px transparent solid;
  background-color: #75ecc9 !important;
}
#headBlock-Database .caret {
  float: right;
  margin: 7px 0px 5px 4px;
}
#headBlock-Database .dropdown-menu {
  top: 30px;
  z-index: 1100;
  min-width: 90px;
  border: 1px solid #00ADAA;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
#headBlock-Database .dropdown-menu li {
  margin: 0;
}
#headBlock-Database .dropdown-menu li:hover {
  background-color: #edf7f4;
  border-color: #edf7f4;
}
#headBlock-Database .dropdown-menu li a {
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}
#headBlock-Database .dropdown-menu li a:hover, #headBlock-Database .dropdown-menu li a:focus {
  background-color: #edf7f4;
}

.typeValue {
  margin-bottom: 10px;
}

.metro .typeValue p {
  padding: 0px 6px 4px 0;
  font-size: 15px;
  margin: 0;
  line-height: 32px;
  color: #2A2A2A;
}
.metro .typeValue span {
  font-weight: bold;
  color: #1edda4;
}

.editValue {
  height: 100%;
}
.editValue p {
  margin: 0 0 8px;
  padding-top: 2px;
}
.editValue .form-control {
  height: calc(100% - 65px);
  border: 1px solid #b4b4b4;
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  min-height: 36px;
  resize: none;
}
.editValue .tileFunction {
  width: 48px;
  height: 30px;
  -webkit-user-select: none;
  line-height: 30px;
  float: right;
  margin: 8px 0 7px 8px;
}

#value-String {
  height: 100%;
}
#value-String .form-control {
  height: calc(100% - 112px);
}

.forTables .navbar-default {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .navbar-default .navbar-brand:hover {
  color: #d6edff;
}
.forTables .tileFunction {
  background-color: #7AC5FF;
}
.forTables .tileFunction:hover {
  background-color: #addbff;
}
.forTables .popup {
  border-color: #2e8bcc;
}
.forTables .popup .panel-heading {
  background-color: #2e8bcc;
  border-color: #2e8bcc;
}
.forTables .popup .btn-default {
  background-color: #f4f8fa;
}
.forTables .popup .btn-default:hover, .forTables .popup .btn-default:focus, .forTables .popup .btn-default:active {
  color: #fff;
  background-color: #7AC5FF;
  border-color: #7AC5FF;
}
.forTables .panel-warning.popup .panel-heading {
  color: #2e8bcc;
  background: #FFE44E;
}
.forTables .loading .fa {
  color: #3daaff;
}
.forTables .loading a {
  color: #3daaff;
}
.forTables .form-control:focus {
  border-color: #addbff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #addbff;
}
.forTables .input-group-addon {
  background-color: #edf3f7;
}
.forTables .headBlock {
  background: #2e8bcc;
}
.forTables .dataTables_scrollHead th {
  background-color: #edf3f7;
}
.forTables .dataTables_scrollHead th:focus {
  outline-color: #2e8bcc;
}
.forTables .metro .table.hovered tbody tr:hover {
  background-color: #e5f4ff;
}
.forTables .table tr.selected, .forTables .table tr.shown {
  background-color: #dfe9f1;
}
.forTables .ui-grid-top-panel {
  background: #edf3f7;
}
.forTables .ui-grid-header-cell-primary-focus:focus {
  outline-color: #2e8bcc;
}
.forTables .ui-grid-row:nth-child(even) .ui-grid-cell, .forTables .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}
.forTables .ui-grid-row:nth-child(even) .ui-grid-cell:hover, .forTables .ui-grid-row:nth-child(odd) .ui-grid-cell:hover {
  background-color: #e5f4ff;
}
.forTables .ui-grid-row-selected:nth-child(even) .ui-grid-cell, .forTables .ui-grid-row-selected:nth-child(odd) .ui-grid-cell {
  background-color: #dfe9f1;
}
.forTables .bodyLeftBlock {
  padding: 4px 5px 6px 5px;
}

#tableList {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-user-select: text;
}
#tableList li {
  white-space: pre;
  font-size: 12px;
  line-height: 26px;
  color: #2A2A2A;
  letter-spacing: 0;
  padding-left: 4px;
  cursor: pointer;
}
#tableList li:hover {
  background: #e5f4ff;
}
#tableList li.selected {
  background: #dfe9f1;
  border: 1px #DDDDDD solid;
  border-right: none;
  line-height: 24px;
  padding-left: 3px;
}
#tableList .fa {
  padding: 0px 6px 0 0;
  font-size: 18px;
  vertical-align: -10%;
  color: #515151;
}

/*Dialog window "+Entity"*/
.popup-createEntity.popup {
  width: 656px;
  height: 534px;
  left: calc(50% - 325px);
  top: calc(50% - 227px);
}
.popup-createEntity.popup .panel-body {
  padding: 8px 15px 15px 15px;
}

#createTableEntity {
  height: 426px;
}
#createTableEntity .wrapListFields {
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  height: calc(100% - 38px);
  padding: 6px 4px 6px 6px;
}
#createTableEntity .wrapListFields div:first-child {
  background: #F8F8F8;
  overflow: auto;
  height: 100%;
}
#createTableEntity .actionRows {
  width: 100%;
}
#createTableEntity .actionRows .tileFunction {
  height: 30px;
  width: 68px;
  -webkit-user-select: none;
  line-height: 30px;
  float: right;
  margin: 0 0 8px 8px;
}
#createTableEntity .actionRows label {
  font-size: 12px;
  float: left;
  line-height: 30px;
  margin-bottom: 8px;
}
#createTableEntity .input-group-sm > .input-group-sm {
  margin-top: 4px;
}
#createTableEntity .input-group-addon {
  width: 118px;
  text-align: left;
  border-color: #b4b4b4;
  background-color: #e6eef4;
}
#createTableEntity .input-group-addon:focus {
  outline: none;
  border: 1px solid #80b6df;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #80b6df;
}
#createTableEntity ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#createTableEntity .form-control {
  border-color: #b4b4b4;
}
#createTableEntity .form-control:focus {
  border-color: #a3d7ff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #a3d7ff;
}
#createTableEntity .checkbox {
  float: left;
  margin: 7px 0 5px;
}
#createTableEntity .checkbox .checkbox-label {
  padding-left: 21px;
}
#createTableEntity .checkbox .checkbox-label:before {
  height: 19px;
  width: 19px;
  background: #ffffff;
}
#createTableEntity .checkbox .checkbox-label:after {
  font-size: 9pt;
  line-height: 13px;
}
#createTableEntity select {
  width: 77px;
  float: left;
  height: 24px;
  margin: 3px 0 3px 2px;
  font-size: 12px;
  border: 2px #d9d9d9 solid;
  background-color: #e6eef4;
}
#createTableEntity select:hover {
  outline: none;
  border: 2px solid #95c2e4;
}
#createTableEntity select:focus {
  outline: none;
}
#createTableEntity select option {
  background: #e0f1ff;
}

/*The number of rows and pagination*/
#tables_length label {
  font-size: 12px;
  line-height: 29px;
  margin: 4px 10px;
}
#tables_length select {
  width: 63px;
  border: 2px #d9d9d9 solid;
  padding: 2px 4px;
  outline: none;
  margin: 0px 0px 2px 0px;
}
#tables_length select:hover, #tables_length select:focus {
  border: 2px solid #95c2e4;
}
#tables_length select:focus {
  border: 2px solid #d9d9d9;
}
#tables_length select option {
  background: #fff;
}

#tables_paginate {
  margin: 6px 8px;
}
#tables_paginate .paginate_button {
  padding: 4px 12px;
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: #d8e4ee;
}
#tables_paginate .paginate_button:active, #tables_paginate .paginate_button:hover {
  background-color: #addbff !important;
}
#tables_paginate .paginate_button.current {
  background-color: #7AC5FF;
  color: #ffffff;
}
#tables_paginate .paginate_button.current:hover {
  background-color: #7AC5FF !important;
}
#tables_paginate .paginate_button.disabled {
  background-color: #edf3f7 !important;
  cursor: default !important;
}
#tables_paginate .paginate_button.disabled:active {
  color: #bebebe !important;
}
#tables_paginate .paginate_button.previous {
  margin-right: 9px;
}
#tables_paginate .paginate_button.next {
  margin-left: 7px;
}
#tables_paginate a {
  text-decoration: none;
}
#tables_paginate .ellipsis {
  padding: 4px 4px;
  background-color: transparent;
  cursor: default;
  font-size: 16px;
  line-height: 16px;
  display: block;
  float: left;
  margin-right: 1px;
}

.forBlobs .navbar-default {
  background-color: #039BC1;
  border-color: #039BC1;
}
.forBlobs .navbar-default .navbar-brand:hover {
  color: #d6f9ff;
}
.forBlobs .tileFunction {
  background-color: #6FDEF2;
}
.forBlobs .tileFunction:hover {
  background-color: #9ee9f6;
}
.forBlobs .popup {
  border-color: #039BC1;
}
.forBlobs .popup .panel-heading {
  background-color: #039BC1;
  border-color: #039BC1;
}
.forBlobs .popup .btn-default {
  background-color: #f4f9fa;
}
.forBlobs .popup .btn-default:hover, .forBlobs .popup .btn-default:focus, .forBlobs .popup .btn-default:active {
  color: #fff;
  background-color: #6FDEF2;
  border-color: #6FDEF2;
}
.forBlobs .panel-warning.popup .panel-heading {
  color: #039BC1;
  background: #FFE44E;
}
.forBlobs .loading .fa {
  color: #37d1ed;
}
.forBlobs .loading a {
  color: #37d1ed;
}
.forBlobs .form-control:focus {
  border-color: #9ee9f6;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 4px #9ee9f6;
}
.forBlobs .input-group-addon {
  background-color: #edf6f7;
}
.forBlobs .headBlock {
  background: #039BC1;
}
.forBlobs .dataTables_scrollHead th {
  background-color: #edf6f7;
}
.forBlobs .dataTables_scrollHead th:focus {
  outline-color: #039BC1;
}
.forBlobs .metro .table.hovered tbody tr:hover {
  background-color: #e5fbff;
}
.forBlobs .table tr.selected, .forBlobs .table tr.shown {
  background-color: #dfeef1;
}
.forBlobs .ui-grid-top-panel {
  background: #edf6f7;
}
.forBlobs .ui-grid-header-cell-primary-focus:focus {
  outline-color: #039BC1;
}
.forBlobs .ui-grid-row:nth-child(even) .ui-grid-cell, .forBlobs .ui-grid-row:nth-child(odd) .ui-grid-cell {
  background-color: #fff;
}
.forBlobs .ui-grid-row:nth-child(even) .ui-grid-cell:hover, .forBlobs .ui-grid-row:nth-child(odd) .ui-grid-cell:hover {
  background-color: #e5fbff;
}
.forBlobs .ui-grid-row-selected:nth-child(even) .ui-grid-cell, .forBlobs .ui-grid-row-selected:nth-child(odd) .ui-grid-cell {
  background-color: #dfeef1;
}
.forBlobs .wrapRightBlock .headBlock .fa {
  padding-left: 9px;
}
.forBlobs .bodyLeftBlock {
  padding: 8px 8px 10px 9px;
}
.forBlobs .bodyRightBlock {
  display: flex;
  flex-direction: column;
  padding-bottom: 56px;
}

#wrapperAzure {
  margin: 10px;
  font-family: "Segoe UI_", "Open Sans", Verdana, Arial, Helvetica, sans-serif;
  height: calc(100% - 20px);
}

/*Header*/
.navbar {
  min-height: 40px;
  white-space: nowrap;
  margin-bottom: 0px;
}

.navbar-brand {
  height: 40px;
  padding: 2px 10px 10px 9px;
  font-size: 19px;
}
.navbar-brand .icon-cloud {
  font-size: 40px;
  vertical-align: -27%;
  line-height: 0.8;
  padding-right: 5px;
  padding-left: 3px;
}
.navbar-brand .fa {
  font-size: 30px;
  vertical-align: -12%;
  line-height: 1.2;
  padding-right: 5px;
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

/*Functional panel*/
#navbarTilesFunction {
  margin: 0px;
  padding: 0px;
  border-right: 1px solid #e2e2e2;
  overflow: hidden !important;
}
#navbarTilesFunction .navbar-nav {
  margin: 0px;
  padding-left: 9px;
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  width: 100%;
  min-width: 1170px;
}

.tileFunction {
  display: block;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  color: #ffffff;
  margin: 10px 10px 10px 0px;
}
.tileFunction:active {
  transform: perspective(400px) rotateX(0.2rad);
  transform-origin: 50% bottom;
}
.tileFunction a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.tileFunction a:hover {
  text-decoration: none;
}
.tileFunction .fa {
  padding-top: 6px;
  font-size: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.tileFunction span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 0px;
}
.tileFunction.longText span {
  letter-spacing: -0.5px;
}

.delimiter-tiles {
  border-left: 1px solid #e2e2e2;
  height: 70px;
  margin: 5px 9px 5px -1px;
}

/*Dialog windows*/
.popup {
  margin: 0;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 119px);
  display: inline-block;
  z-index: 1000;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4);
}
.popup .panel-heading {
  padding: 8px 15px;
  font-size: 15px;
}
.popup .checkbox .checkbox-label:before {
  height: 21px;
  width: 21px;
  border: 2px #d9d9d9 solid;
}
.popup .btn-group {
  float: right;
  margin-top: 10px;
}
.popup .btn-default:active {
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.125);
}

.panel-warning.popup {
  width: 500px;
}

.input-group-sm > .input-group-addon {
  padding: 5px 8px;
  width: 96px;
  float: left;
}

.input-group-sm > .input-group-sm {
  margin-top: 2px;
}

.input-group .form-control {
  width: 372px;
  float: left;
}

/*load indicator*/
.loading {
  width: 367px;
  height: 301px;
  padding: 108px;
  text-align: center;
  position: absolute;
  left: calc(50% - 183px);
  top: calc(50% - 150px);
  background: url(../img/Loading.png) no-repeat 0 0;
  z-index: 900;
  line-height: 22px;
}
.loading .fa {
  padding: 4px;
  font-size: 32px;
  color: #2e8bcc;
}
.loading a {
  cursor: pointer;
}

/*Body*/
#content {
  height: calc(100% - 40px);
}

.wrapLeftBlock {
  margin: 0px 3px 10px 10px;
  height: 100%;
}

.wrapRightBlock {
  margin: 0px 10px 10px 6px;
  height: 100%;
}
.wrapRightBlock .headBlock .fa {
  padding-right: 4px;
}

.headBlock {
  color: #ffffff;
  height: 30px;
  line-height: 28px;
  font-size: 16px;
  white-space: nowrap;
}
.headBlock .fa {
  padding: 0 8px 0 10px;
  font-size: 18px;
  vertical-align: -10%;
}

.bodyLeftBlock, .bodyRightBlock {
  background: #F8F8F8;
  border: 1px solid #e2e2e2;
  height: calc(100% - 30px);
  padding: 8px;
}

.searchBar {
  margin-bottom: 10px;
}
.searchBar .form-control {
  float: none;
  max-height: 250px;
  height: 36px;
  border: 1px solid #b4b4b4;
  padding: 7px 30px 7px 12px;
  font-size: 13px;
  width: 100%;
  resize: vertical;
}
.searchBar .tileFunction {
  width: 36px;
  height: 36px;
  margin: 0 0 0 8px;
}
.searchBar .tileFunction .fa {
  font-size: 22px;
}

.saerchText {
  position: relative;
  width: calc(100% - 45px);
  float: left;
}

.searchclear {
  position: absolute;
  right: 20px;
  top: 12px;
  bottom: 0;
  margin: 0;
  height: 14px;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

.forRedis .searchclear, .forBlobs .searchclear {
  right: 10px;
}

.forTables #alertArea, .forTables #errorNotification {
  display: none;
}

.clearFloat {
  clear: both;
}
