.details-textarea {
    width: 100%;
}

.bigHeight {
    height: 150px;
}

.smallHeight {
    height: 30px;
}

.updateButton {
    float: right;
    margin-top: 5px !important;
}

tr.details td.details-control {
    background: green no-repeat center center;
}

.grid label {
    font-size: 12px;
}
