.details-textarea{
    width: 100%;
}

.updateButton {
    float: right;
    margin-top: 5px !important;
}

tr.details td.details-control {
    background: green no-repeat center center;
}

.grid label {
    font-size: 12px;
}

tr.shown {
    background: #eeeeee;
}

/*Tables*/

#tables {
	-webkit-user-select: text;
}

#tables td {
	font-size: 12px;
	line-height: 12px;
}

.metro .table th {
	font-size: 12px;
}

.dataTables_scrollHead {
    background: white;
    top: 18px;
    z-index: 100;
}


