#wrapper {
  margin: 10px;
  font-family: 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
}

.navbar {
    min-height: 40px;
}

.navbar-brand {
    height: 40px;
    padding: 10px;
    padding-top: 2px;
}

.navbar-default .navbar-brand:hover {
    color: #DCF2FB; 
}

.icon-cloud {
    font-size: 38px; 
    vertical-align: -26%;
    line-height: 0.8;
    padding-right: 5px;
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus  {
    color: #ffffff;  
}

.my-navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.my-navbar .navbar-nav {
  margin: 0px;
  padding-right: 10px;
  background: #F8F8F8;
  border: 1px solid #eaeaea;
  width: 100%;
  border-top:0; 
}

.my-tile {
  display: block;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #7AC5FF;
  z-index: 1;
  color: #ffffff;
  margin: 10px 0 10px 10px;
}

.my-tile:hover {
  background-color: #A1D6FF;
}

.my-tile:active {
  transform: perspective(400px) rotateX(0.2rad);
  transform-origin: 50% bottom;
}

.my-tile a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.my-tile a:hover {
  text-decoration: none;
}

.my-tile .fa {
  padding-top: 6px;
  font-size: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
} 

.my-tile span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 13px;
  line-height: 0px;
}

.delimiter-tiles {
  border-left: 1px solid #eaeaea;
  height: 70px;
  margin: 5px -1px 5px 9px;
}

.popup {
    margin: 30px auto 0;
    position: absolute;
    left: 30%;
    top: 30%;
    /*margin-left: -400px;
    margin-top: -40px;*/
}

.progressStripedBar {
  height: 20px; 
  position: relative; 
  bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.loading {
    width: 200px;
    margin: 30px auto 0;
    position: absolute;
    left: 50%;
    top: 30%;
    background: white;
    z-index: 999;
}

.leftOffset {
    margin-left: 113px;
}

.noMarginBottom {
    margin-bottom: 0px;
}

#content {
  height: 100%;
}

.wrapTablesBlock1 {
  margin: 0px 3px 10px 10px;
  height: 100%;
}

.headTablesBlock {
  background: #2e8bcc;
  color: #ffffff;
  height: 30px;
  line-height: 28px;
  font-size: 16px;
  white-space: nowrap;
}

.headTablesBlock .fa {
  padding: 0 8px;
  font-size: 18px;
  vertical-align: -5%;
}

.wrapTablesBlock2 .headTablesBlock .fa {
  vertical-align: -10%;
} 

.tablesSelect {
  background: #F8F8F8;
  border: 1px solid #eaeaea;
  height: calc(100% - 30px);
  padding: 4px 5px 0 5px;
  -webkit-user-select: text;
}

.tablesSelect ul {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.metro .tablesSelect ul li {
  white-space: pre;
  font-size: 12px;
  line-height: 24px;
  color: #2A2A2A;
  letter-spacing: 0;
}

.tablesSelect .fa {
  padding: 0px 6px 0 2px;
  font-size: 18px;
  vertical-align: -10%;
  color: #515151;
}

.wrapTablesBlock2 {
  margin: 0px 10px 10px 6px;
  height: 100%;
}

.tablesBlock2 {
  background: #F8F8F8;
  border: 1px solid #eaeaea;
  padding: 8px;
  height: calc(100% - 30px);
}

.searchBar {
  margin-bottom: 10px;
}

.searchBar .form-control { 
  float: none; 
  max-height: 250px; 
  height: 36px;
  border: 1px solid #b4b4b4;
  padding: 7px 12px;
  font-size: 13px;
  width: 100%;
  max-width: 779px;
  resize: vertical;
}

.searchBar .form-control:focus {
    border-color: #7AC5FF;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgba(102,175,233,.6);
  }

/*      -webkit-appearance: textarea;
    background-color: white;
    border: 1px solid;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    
    cursor: auto;
    padding: 2px;
    white-space: pre-wrap;
    word-wrap: break-word;*/

.saerchText {
  position: relative;
  width: calc(100% - 45px);
  float: left;
  max-width: 779px;
}

.searchclear {
    position: absolute;
    right: 20px;
    top: 12px;
    height: 14px;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.searchBar .my-tile {
  width: 36px;
  height: 36px;
  margin: 0 0 0 8px;
}

.searchBar .my-tile .fa {
  font-size: 22px;
}

/*.tablesContainer {
  border: 1px solid #b4b4b4;
  overflow: hidden;
  height: calc(100% - 38px);
}*/

#tables_wrapper {
  border: 1px solid #b4b4b4;
  overflow: hidden;
  height: calc(100% - 38px);
}


.input-group-sm>.input-group-addon {
    padding: 5px 8px;
}

@media (max-width:992px) {
    .margin-to-align {
      margin-left: 0px;
      position: relative;
  }
}

@media (max-width:992px) {
    .tile-preview{
      margin-left: 0px;
      position: relative;
      width: 160px;
  }
}

@media (min-width: 992px) {
  .margin-to-align {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 940px;
  }
}

@media (min-width: 1200px) {
  .margin-to-align {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 1140px;
  }
}

.clearFloat {
  clear: both;
}
