body {
  margin: 10px;
}

.navbar {
    min-height: 40px;
}

.navbar-brand {
    height: 40px;
    padding: 10px;
    padding-top: 2px;
}

.navbar-default .navbar-brand:hover {
    color: #DCF2FB; 
}

.icon-cloud {
    font-size: 38px; 
    vertical-align: -26%;
    line-height: 0.8;
    padding-right: 5px;
}

.navbar-default .navbar-brand:visited, .navbar-default .navbar-brand:focus  {
    color: #ffffff;  
}

.my-navbar {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.my-navbar .navbar-nav {
  margin: 0px;
  padding-top: 10px;
  padding-left: 10px;
  background: #F8F8F8;
  border: 1px solid #eaeaea;
  width: 100%;
  border-top:0; 
}

.my-tile {
  display: block;
  cursor: pointer;
  float: left;
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #8ACCFF;
  z-index: 1;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
}

.my-tile:hover {
  background-color: #67BBFD;
}

.my-tile:active {
  transform: perspective(400px) rotateX(0.2rad);
  transform-origin: 50% bottom;
}

.my-tile a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.my-tile .fa {
  padding-top: 6px;
  font-size: 32px;
  padding-bottom: 0px;
  margin-bottom: 0px;
} 

.my-tile a:hover {
  text-decoration: none;
}

.my-tile span {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 15px;
  line-height: 0px;
}

.popup {
    margin: 30px auto 0;
    position: absolute;
    left: 30%;
    top: 30%;
    /*margin-left: -400px;
    margin-top: -40px;*/
}

.loading {
    width: 200px;
    margin: 30px auto 0;
    position: absolute;
    left: 50%;
    top: 30%;
    background: white;
    z-index: 999;
}

.leftOffset {
    margin-left: 113px;
}

.noMarginBottom {
    margin-bottom: 0px;
}

.searchclear {
    position:absolute;
    right:55px;
    top:0;
    bottom:0;
    height:14px;
    margin:auto;
    font-size:14px;
    cursor:pointer;
    color:#ccc;
}

/*.gridTables {
  width: 100%;
}*/

.tablesSelect {
  margin: 10px;
  padding:10px;
  background: #F8F8F8;
  border: 1px solid #eaeaea;
  overflow: auto;
  /*width: 316px;
  float: left;
  outline: 1px solid #FE044B;
  position: relative;*/
}

.tablesSelect ul {
  list-style: none;
  font-size: 12px;
  padding: 0;
}

.tablesSelect ul li {
  white-space: nowrap;
}



.tablesContainer {
  margin: 10px;
  padding: 10px;
  /*float: left;
  width: 100%;
  overflow: hidden;
  margin-left: 400px;
  position: relative;*/
}

@media (max-width:992px) {
    .margin-to-align {
      margin-left: 0px;
      position: relative;
  }
}

@media (max-width:992px) {
    .tile-preview{
      margin-left: 0px;
      position: relative;
      width: 160px;
  }
}

@media (min-width: 992px) {
  .margin-to-align {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 940px;
  }
}

@media (min-width: 1200px) {
  .margin-to-align {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width: 1140px;
  }
}