<div class="tiles-preview" ng-show="TilesViewModel.IsRedisVisible">
    <div class="tilePreview tilePreview-redis">
        <a class="fa-links" ng-click="TilesViewModel.openRedis()">
            <img src="content/img/azure-redis.png">
            <h4>Redis</h4>
        </a>
    </div>

    <div class="tilePreview tilePreview-tables" >
        <a class="fa-links" ng-click="TilesViewModel.openTables()">
            <img src="content/img/azure-tables.png">
            <h4>Tables</h4>
        </a>
    </div>
    
    <div class="tilePreview tilePreview-blobs">
        <a class="fa-links" ng-click="TilesViewModel.openBlobs()">
            <img src="content/img/azure-blobs.png">
            <h4>Blobs</h4>
        </a>
    </div>
</div>